html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Basic */
	body{
		color: #474747;
		font-family: 'Titillium Web', sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: #304A4B;
		text-decoration: none;
		border-bottom: dotted 1px;
        font-family: 'Titillium Web', sans-serif;
	}
    a:hover {
        color: #F28631;
        border-bottom-color: transparent;
    }

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 1em;
        margin-top: 0.5em;
        font-family: 'Josefin Sans', sans-serif;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
		}

 .content-column__content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.spacing{
    margin: 50px;
}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

    @media screen and (max-width: 1680px) {

        .container {
            width: 1200px;
        }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: 960px;
        }

    }

    @media screen and (max-width: 736px) {

        .container {
            width: 90%;
        }

    }
/* Row */

.row-gym {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

/* Section/Article */

	header p {
		color: #464545;
		font-size: 1.25em;
		position: relative;
		margin-top: -1.25em;
		margin-bottom: 2.25em;
	}

#header a {
    border: 0;
}

	header.major {
		text-align: center;
		margin: 0 0 2em 0;
	}

		header.major h2 {
			font-size: 2.25em;
		}

		header.major p {
			position: relative;
			border-top: solid 1px #e0e0e0;
			padding: 1em 0 0 0;
			margin: 0;
			top: -1em;
			font-size: 1.2em;
			letter-spacing: -0.025em;
		}

	footer {
		margin: 0 0 3em 0;
	}

		footer > :last-child {
			margin-bottom: 0;
		}

		footer.major {
			padding-top: 3em;
		}

@media screen and (max-width: 736px) {

        .footer_email{
            margin-top: 50px;
            margin-bottom: 50px;
        }

    }

@media screen and (max-width: 1280px) {

        .footer_email{
            margin-left: 50px;
        }

    }

@media screen and (min-width: 1280px) {

        .footer_email{
            margin-left: 500px;
        }

    }

@media screen and (max-width: 736px) {

    .newsletter_section{
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 737px) {

    .newsletter_section{
        margin-bottom: 10px;
        margin-left: 100px;
    }

}


@media screen and (min-width: 1280px) {

    .newsletter_section{
        margin-bottom: 50px;
        margin-left: 350px;
    }

}

        

/* Form */

	input[type="text"],
	input[type="email"],
	textarea {
		
		transition: border-color 0.2s ease-in-out;
		background: #fff;
		border: solid 1px #e0e0e0;
		border-radius: 5px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 10px;
		text-decoration: none;
		width: 100%;
	}

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #304A4B;
    }

	input[type="text"],
	input[type="email"] {
		line-height: 1em;
	}

	label {
		display: inline-block;
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 0.5em;
	}
/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
		border-radius: 5px;
	}

		.image img {
			display: block;
			border-radius: 5px;
		}

		.image.left {
			display: block;
			float: left;
			margin: 0 2em 2em 0;
			position: relative;
			top: 0.25em;
		}

			.image.left img {
				display: block;
				width: 100%;
			}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.featured {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.featured img {
				display: block;
				width: 100%;
			}

/* Icon */

.style3{
    background-color: antiquewhite;
}

		

/* Links */

	ul.links {
		list-style: none;
		padding-left: 0;
	}

		ul.links li {
			line-height: 2.0em;
			padding-left: 0;
		}

/* Button */

	input[type="submit"],
	input[type="button"],
	button,
	.button {
		
		background-color: #61767B;
		border-radius: 5px;
		border: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 0 1.5em;
		line-height: 2.75em;
		min-width: 9em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;
	}
.button1 {
		
		background-color: #61767B;
		border-radius: 5px;
		border: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 0 1.5em;
		line-height: 1.5em;
		min-width: 4em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #304A4B;
			color: #fff !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #304A4B;
			color: #fff;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: #61767B;
			color: #fff;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #626262;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #484848;
			}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

.box.highlight {
		text-align: left;
    padding: 0 25% 0 25%;
	}

	.box.post {
		position: relative;
		margin: 0 0 2em 0;
	}

		.box.post:after {
			content: '';
			display: block;
			clear: both;
		}

		.box.post .inner {
			margin-left: calc(30% + 2em);
		}

			.box.post .inner > :last-child {
				margin-bottom: 0;
			}

		.box.post .image {
			width: 30%;
			margin: 0;
		}
		

/* Header */

	#header {
		text-align: center;
		padding: 0;
		background-color: #ffff;
		background-image: url("../images/header-bg.png");
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}

		#header h1 {
			padding-bottom: 10px;
			margin: 0;
		}

			#header h1 a {
				font-size: 1.5em;
				letter-spacing: -0.025em;
				border: 0;
			}

	#nav {
		cursor: default;
		background-color: #333;
		padding: 0 ;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				position: relative;
				display: inline-block;
				margin-left: 1em;
			}

				#nav > ul > li a {
					color: #c0c0c0;
					text-decoration: none;
					border: 0;
					display: block;
					padding: 1.5em 2.5em 1.35em 2.5em;
				}

@media screen and (max-width: 550px) {
  #nav > ul > li a {
      padding: 1.5em 0.5em 1.35em 0.5em;
    }
}


				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li:hover a {
					color: #fff;
				}

				#nav > ul > li.current {
					font-weight: 600;
				}

					#nav > ul > li.current:before {
						
						transform: rotateZ(45deg);
						width: 0.75em;
						height: 0.75em;
						content: '';
						display: block;
						position: absolute;
						bottom: -0.5em;
						left: 50%;
						margin-left: -0.375em;
						background-color: #61767B;
}

					#nav > ul > li.current a {
						color: #fff;
					}

				#nav > ul > li.active a {
					color: #fff;
				}

				#nav > ul > li.active.current:before {
					opacity: 0;
				}

				#nav > ul > li > ul {
					display: none;
				}




/* Banner */

	#banner {
		background-position: center center;
		background-size: cover;
		height: 28em;
		text-align: center;
		position: relative;
	}
    .banner-home {
		background-image: url("../images/index-banner.png");
	}
    .banner-nutrition {
		background-image: url("../images/nutrition.jpg");
		}
    .banner-fitness {
		background-image: url("../images/fitness.jpg");}
    .banner-gym {
		background-image: url("../images/gym.jpg");
	}
    .banner-gyms {
		background-image: url("../images/gym_exercise.JPG");
	}
    
.banner-activities {
		background-image: url("../images/activity.jpg");
    } 

.banner-sportsclub {
		background-image: url("../images/sportsclub.jpg");
    }

.banner-about {
		background-image: url("../images/about_us.jpeg");
    }
.banner-blog {
		background-image: url("../images/blog-header.jpg");
    }
.banner-blog_page1 {
		background-image: url("../images/blog1.jpg");
    }

		#banner header {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #212121;
			background: rgba(27, 27, 27, 0.75);
			color: #fff;
			padding: 1.5em 0;
		}

			#banner header h2 {
				display: inline-block;
				margin: 0;
				font-size: 1.25em;
				vertical-align: middle;
			}

				#banner header h2 em {
					opacity: 0.75;
				}

				#banner header h2 a {
					border-bottom-color: rgba(255, 255, 255, 0.5);
				}

					#banner header h2 a:hover {
						border-bottom-color: transparent;
					}

			#banner header .button {
				vertical-align: middle;
				margin-left: 1em;
			}

/* CTA */

	#cta {
		text-align: center;
		padding: 3.5em 0;
	}

		#cta header h2 {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
            font-size: 30pt;
		}

		#cta header .button {
			vertical-align: middle;
			margin-left: 1em;
		}

.read_more{
    margin-top: 10px;
}

/* Footer */

	#footer {
		padding: 2em 0 3em 0;
	}

		#footer a {
			color: inherit;
			border-bottom-color: rgba(71, 71, 71, 0.25);
		}

			#footer a:hover {
				color: #304A4B;
				border-bottom-color: transparent;
			}

		#footer .icons {
			text-align: center;
			margin: 0;
		}

			#footer .icons a {
				color: #999;
			}

				#footer .icons a:hover {
					color: #474747;
				}

		#footer .copyright {
			color: #999;
			margin-top: 1.5em;
			text-align: center;
			font-size: 0.9em;
		}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
				line-height: 1.5em;
			}

		/* Banner */

			#banner {
				height: 24em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				line-height: 1.5em;
			}

		/* Lists */

			ol {
				padding-left: 1.25em;
			}

				ol li {
					padding-left: 0.25em;
				}

		/* Header */

			#header {
				padding: 2em 0 0 0;
			}

				#header h1 {
					padding: 0 0 1.75em 0;
				}

		/* Banner */

			#banner {
				height: 20em;
			}

		/* Wrapper */

			.wrapper {
				padding: 3em 0 1em 0;
			}

		/* CTA */

			#cta {
				padding: 2em 0;
			}

		/* Footer */

			#footer {
				padding: 3em 0 3em 0;
			}

				#footer .container {
					margin-bottom: 1em;
				}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
				line-height: 1.35em;
			}

			h2 {
				font-size: 1.25em;
				letter-spacing: 0;
				line-height: 1.35em;
			}

			h3 {
				font-size: 1em;
				letter-spacing: 0;
				line-height: 1.35em;
			}

			header p {
				margin-top: -0.5em;
				font-size: 1em;
			}

			header.major {
				padding: 0 20px;
			}

				header.major h2 {
					font-size: 1.25em;
				}

				header.major p {
					top: 0;
					margin-top: 1.25em;
					font-size: 1em;
				}

		/* Menu */

			ul.menu li {
				border: 0;
				padding: 0;
				margin: 0;
				display: block;
				line-height: 2em;
			}

		/* Banner */

			#banner {
				height: 18em;
			}

		/* Wrapper */

			.wrapper {
				padding: 2em 0 1px 0;
			}
	}







/* Fitness Pages */



header.major {
		text-align: center;
		margin: 0;
    
	}


.cards1 {
    padding: 10px;
    text-align: center;
    
}

.card-container1 {
    max-width: 1280px;
    margin: 0 auto;
    vertical-align:middle;
    place-content: center;
justify-content: center;
    
}

@media screen and (min-width: 700px) {
    .cards1 {
        padding: 40px;
    }
    .card-container1 {
        display: flex;
        flex-wrap: wrap;
         place-content: center;
justify-content: center;
    }
}

.a-card1 {
    flex: 0 0 32%;
    background: #eee;
    padding: 1rem;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1rem;
    
}

.a-card1 * {
    margin: 0;
    padding: 0;
}

.a-card1 a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0.3rem;
    background: #61767B;
    margin-top: 1rem;
    color: white;
}

.a-card1 a:hover {
background: #304A4B;
}


.content-column2 {
    
    padding: 40px;
    padding-top: 10px;
}

.content-column__content2 {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}



.list-button {
    max-width: 30%;
    padding: 20%;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
    
   

}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
    
     margin: 1% 3% 5% 10%;
    
    text-align: center;
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
    
     margin: 1% 10% 3% 5%;
    text-align: center;
}



.position-center {
   display:table-cell; 
vertical-align:middle; 
    text-align:center;
}

.content-column1 {
    padding: 0;
}

.content-column__content1 {
    max-width: 700px;
    margin: 0 auto;
}


		#banner header {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #212121;
			background: rgba(27, 27, 27, 0.75);
			color: #fff;
			padding: 1.5em 0;
		}


.text-image__container1 h2 {
    font-size: 30px;
}
.text-image__container1 {
    max-width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #F1F1F1;
    
}
.text-image__container {
    max-width: 70%;
    margin: 1rem auto;
    padding: 1rem;
    
    
}

@media screen and (min-width:850px) {
    .text-image__container1 {
        display: flex;
        align-items: center;
    }
    .text-image__container {
        display: flex;
        align-items: center;
}
}
@media screen and (min-width:850px) {
    .text-image__text {
        flex: 1;
        text-align: center;
    }
    .left .text-image__text {
        order: 1;
    }
    .text-image__text,
    .left .text-image__text {
        padding: 0;
        text-align:  right;
    }
    .right .text-image__text {
        padding: 0;
        text-align: left;
    }
}

.text-image__content {
    flex: 1;
    padding: 35px;
}

.text-image__content a:hover{ background:#304A4B;}
.text-image__content a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0.3rem;
    background: #61767B;
    color: white;
    text-decoration: none;
    font-weight: bold;
}





.full-click-cards {
    padding: 10px;
}

.card-container {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }
}
    .fc-card h2 { font-size: 20pt;
    }
.fc-card {
    flex: 0 0 48%;
    background: #eee;
    margin-right: 1%;
    margin-bottom: 5rem;
    margin-left: 1%;
}

.fc-card * {
    margin: 0;
    padding: 0;
}

.fc-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    /*width: 100%;*/
    min-height: 40vh;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    /* cuts off extra content */
    transition: transform 0.2s ease;
}

.fc-card a:hover {
    transform: scale(1.1);
    color: #F28631;
}



.fc-card1 {
    flex: 0 0 48%;
    background: #eee;
    margin-right: 1%;
    margin-bottom: 1rem;
    margin-left: 1%;
}

.fc-card1 * {
    margin: 0;
    padding: 0;
}

.fc-card1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   width: 100%;
    min-height: 40vh;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    /* cuts off extra content */
    transition: transform 0.2s ease;
}

.card-container-index {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (min-width: 700px) {
    .card-container-index {
        display: flex;
        flex-wrap: wrap;
    }
}


.fc-card1 a:hover {
    transform: scale(1.1);
    color: #F28631;
}

.fc-card.style-1 {
    background-color: #eee;
    background:  url("../images/ActivityButton.jpg");   
    
}

.fc-card.style-2 {
    background-color: #ddd;
    background:  url("../images/SportClubButton.jpg");
        
}
    
.fc-card1.style-3 {
    background-color: #ddd;
    background:  url("../images/blog-index.jpg");
        
} 

.fc-card1.style-4 {
    background-color: #ddd;
    background:  url("../images/gym-index.jpg");
   
        
} 

.fc-card1.style-5 {
    background-color: #ddd;
    background:  url("../images/about-index.jpg");
   
        
} 

.fc-card1.style-6 {
    background-color: #ddd;
    background:  url("../images/contact-index.jpg");
   
        
} 




/* Blog */
    
.blog-container {
  position: relative;
  width: 100%;
}

.blog-image {
  display: block;
  width: 100%;
  height: auto;
}

.blog-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
    padding: 10%;
}

.blog-container:hover .blog-overlay {
  opacity: 30%;
    cursor: pointer;
    
}

.blog-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
    .blog-text a {
        color: white;
        cursor: pointer;
    }
 

    
.cards2 {
    padding: 0px;
    text-align: left;
    
}

.card-container2 {
    max-width: 1280px;
    margin: 0 auto;
    vertical-align:middle;
    place-content: center;
justify-content: center;
    
}

@media screen and (min-width: 700px) {
    .cards2 {
        padding: 0 40px 40px 40px;
    }
    .card-container2 {
        display: flex;
        flex-wrap: wrap;
         place-content: center;
justify-content: center;
    }
}

.a-card2 {
    flex: 0 0 32%;
    background: #eee;
    padding: 1rem;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1rem;
    
}

.a-card2 * {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    
}

    .a-card2 h2 {
        font-size: 18pt;
    padding: 0 0 10px 0;
        line-height: 1.4em;
    }
    
    
    .blog-text2 {
     padding: 5px;   
    }
    
    .blog-button2 {
        padding: 5px;
    }
    

.responsive {
  width: 100%;
  max-width: 700px;
  height: auto;
}
.text-centre-blog{
    text-align: center;
    line-height: 2em;
    
}
.text-centre-blog h2{
    font-size: 26pt;
    margin-bottom: 0;
}


.logo {
	padding:5px;
	flex:1 0 0;
	text-align:center;
}
#logo {
	max-width:85px;
	width:100%;
	height:auto;
}





.card-pt p {
    padding: 10px;
}
.card-pt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
    padding-bottom: 10px;
    min-height: 600px
    
}
@media screen and (max-width: 650px) {
  .card-pt {
    min-height: 0px!important;
  }
    #cta header h2{
        font-size: 15pt;
    }
    .footer_email{
        display: none;
    }
    #footer{
        text-align: center;
    }
    .row{
        flex-direction:column;
    }
    .fc-card1 p{
        text-align: center;
        width: 80%;
    }
}
.title-pt {
  color: grey;
  font-size: 18px;
 
}


.row-pt{
   padding-left: 15%;
     padding-right: 15%;
    padding-bottom: 50px;
}

.column-pt {
  float: left;
  width: 33.33%;

}

/* Clear floats after the columns */
.row-pt:after {
  content: "";
  display: table;
  clear: both;
    
}

@media screen and (max-width: 600px) {
  .column-pt {
    width: 100%;
  }
}



.text-image__container-index {
    max-width: 1280px;
    margin: 1rem auto;
    padding: 1rem;
}

@media screen and (min-width:700px) {
    .text-image__container-index {
        display: flex;
        align-items: center;
    }
}

.left .text-image__text-index {
    order: 1;
}

.text-image__text-index {
    flex: 1;
}

.text-image__content-index {
    flex: 1;
    padding: 35px;
}

.text-image__content-index a:hover{ background:#304A4B;}

.text-image__content-index a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0.3rem;
    background: #61767B;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content-column-blog {
    padding: 0;
}

.content-column__content-blog {
    max-width: 700px;
    margin: 0 auto;
}
@media screen and (max-width: 650px) {
  .content-column__content-blog {
    max-width: 75%;
  }
    .wrapper {
				padding: 0;
			}
    
}
.read_more-blog{
    margin-top: 10px;
    text-align: center
}











.content-column-footer {
    padding: 0;
}
.content-column-footer a{
    font-size: 12pt;
}
.content-column__content-footer {
    max-width: 800px;
    margin: 0 auto;
}

.content-column-footer table {
    width: 100%;
    border-collapse: collapse;
}



.content-column-footer th {
    text-align: left;
    font-size: 16pt;
}

.content-column-footer th,
td {
    padding: 0;
}



.content-column-mobile {
    padding: 10px 40px;
    text-align: center;
    
}

.content-column__content-mobile {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.content-column-mobile ul {
    list-style: none;
}

@media screen and (max-width: 700px) {
  #footer {
      display: none;
    }
}

@media screen and (min-width: 700px) {
  .content-column-mobile { 
      display: none;
    }
}



form {
  border: 3px solid white;
  font-family: inherit;
    margin: 0 25%;
}

.container-newsletter {
  padding: 5px;
  background-color: white;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 5px;
}

.newsletter-form{
    width: 100%;
}